<div class="container">
	<div fxLayout fxFill fxLayoutAlign="center center">
		<mat-card>
			<mat-card-content>
        <mat-card-title>JWT Login</mat-card-title>
				<form>
					<table cellspacing="0">
						<tr>
							<td>
								<mat-form-field>
									<input matInput placeholder="E-Mail" [(ngModel)]="email" name="email" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <input matInput placeholder="Password" [(ngModel)]="password" type="password"
                                name="password" required>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>
</mat-card>
</div>
</div>