<div class="container">
    <div fxLayout fxFill fxLayoutAlign="center center">
        <form #login="ngForm" (ngSubmit)="onClickSubmit()">
            <mat-card class="login-card">
                <mat-card-content>
                    <mat-card-title>JWT Login</mat-card-title>
                    <table cellspacing="0">
                        <tr>
                            <td>
                                <mat-form-field>
                                    <input matInput [formControl]="email" placeholder="E-Mail" name="email" required>
                                    <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <input matInput [formControl]="password" placeholder="Password" type="password"
                                        name="password" required>
                                    <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                </mat-card-content>
                <mat-card-actions>
                    <button type="submit" mat-raised-button color="primary"
                        [disabled]="email.invalid || password.invalid">Login</button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>